 p.colorjeb {
      width: 50px;
      height: 50px;
      background-color: white;
      animation-name: color;
      animation-duration: 100s;
    }
    @keyframes color {
      0%   {background-color: red;}
      10%  {background-color: yellow;}
      20%  {background-color: blue;}
      30%  {background-color: orange;}
      40%  {background-color: green;}
      50%  {background-color: pink;}
      60%  {background-color: aqua;}
      70%  {background-color: gray;}
      80%  {background-color: Indigo;}
      90%  {background-color: lime;}
      100% {background-color: yellowGreen;}
    }
a.asf {
  background-color: Yellow;
  font-style: blod;
  color: black;
  padding: 12px 75px;
  text-align: center;
  text-decoration: none;
}
a.asf:hover, a.asf:active {
  background-color: #FAD233;
}
div.chude1{  
  background: url("https://8a3thsp.cf/data/pic-baw-cv19.png");
  background-repeat: no-repeat;
  width: 1000px;
  height: 100px;
}
a.dsl {
  background-color: Coral;
  font-style: blod;
  color: white;
  padding: 14px 75px;
  text-align: center;
  text-decoration: none;
}
a.dsl:hover, a.dsl:active {
  background-color: Chocolate;
}

div.chude2{  
  background: url("https://8a3thsp.cf/data/pic-baw-cv19-bh.png");
  background-repeat: no-repeat;
  width: 1000px;
  height: 100px;

}

a.hqe:link, a.hqe:visited {
  background-color: rgb(0,0,255);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.hqe:hover, a.hqe:active {
  background-color: rgb(0,100,255);
}
